*{
    box-sizing: border-box;
}
body{
    background-color: black;
    margin: 0;
    font-family: cursive;
}

div{
    position: absolute;
    color:white;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
 span{
    font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 1;
    color: white;
    mix-blend-mode: difference;
}

div::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    background-color: white;
    width:100px;
    height: 100%;
    animation: move 3s linear infinite;
    -webkit-animation: move 3s linear infinite;
    /* mix-blend-mode: difference; */
}

@keyframes move{
    0%,
    100%{
        left: 0;
    }
        50% {
            left: calc(100% - 100px)
        }
}  